@import './variables.less';

button.ant-btn-background-ghost {
  border-color: @primary-color !important;
  background: rgba(90, 196, 190, 0.1) !important;
}

.ant-card.ant-card-bordered {
  max-width: 400px;
  border: 1px solid transparent;
  border-image: linear-gradient(
    245.22deg,
    #c200fb 7.97%,
    #3772ff 49.17%,
    #5ac4be 92.1%
  );
  border-image-slice: 10;
}
