.container {
  margin: 0 auto;
  max-width: 1240px !important;
  padding: 24px;
}

.fc-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
