// https://github.com/vueComponent/ant-design-vue/blob/next/components/style/themes/default.less
@primary-color: #5ac4be;
@bg-color: #131a35;
@layout-header-background: @bg-color;
@layout-body-background: @bg-color;
// menu
@menu-bg: @bg-color;
@menu-item-color: rgba(241, 241, 242, 0.5);
@menu-highlight-color: rgba(241, 241, 242, 1);
// button
