// https://github.com/vueComponent/ant-design-vue/blob/next/components/style/themes/default.less

// color
@bg-color: #131a35;
@text-color: #f1f1f2;
@layout-header-background: @bg-color;
@layout-body-background: @bg-color;
// menu
@menu-bg: @bg-color;
@menu-item-color: rgba(241, 241, 242, 0.5);
@menu-highlight-color: rgba(241, 241, 242, 1);
// button

// card
@card-background: rgba(19, 26, 53, 0.75);
// modal
@modal-header-bg: #1c274f;
@modal-heading-color: @text-color;
